<template>
  <div class="gris padding">
    <div class="white container padding">
      <nuxt />
    </div>
  </div>
</template>

<style>
.gris {
  background-color: #fafafa;
}
.padding {
  padding: 10px 10px 10px 10px;
}

.white {
  background-color: white;
}
</style>
