<template>
  <div>
    <h2 align="center">A la découvert de MS-Framework NUXTDAKO</h2>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe
        class="embed-responsive-item"
        src="https://www.youtube.com/embed/8EVVKDo4jJM?rel=0"
        allowfullscreen
      ></iframe>
    </div>
    <h3 class="d-none">Plan de formation</h3>

    <table class="table table-light d-none">
      <thead class="thead-light">
        <tr>
          <th>Module</th>
          <th>Durée</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <nuxt-link to="/">Découverte</nuxt-link>
          </td>
          <td>5 minutes</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import Logo from "~/components/Logo.vue";

export default {
  components: {}
};
</script>
